.bundle/
log/*.log
pkg/
coverage/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/db/*.sqlite3-*
test/dummy/log/*.log
test/dummy/storage/
test/dummy/tmp/
.vscode
public/uploads/
config/master.key
.DS_Store
Gemfile.lock
**/Gemfile.lock
.idea/*
.rakeTasks
.idea/.gitignore
.idea/imagekit-ruby.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
